
.libs
.deps
*.o
*.lo
*.la
.DS_Store
.dirstamp
.tmp

Makefile
Makefile.in

/m4
/missing
/stamp-h1
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/libtool
/ltmain.sh
/configure.ac~
/configure~
/configure
/depcomp
/install-sh

/lib/libzcmdsh.a
/app/opensh
/app/opensh.arm64
/app/opensh.x86_64
/app/opensh.universal
/app/opensh_ver.c
/app/vtyd

/Products/*
/opensh-*.pkg

/debian/.debhelper
/debian/autoreconf.after
/debian/autoreconf.before
/debian/debhelper-build-stamp
/debian/files
/debian/changelog
/debian/zcmdsh
/debian/zcmdsh.debhelper.log
/debian/zcmdsh.substvars
/debian/libsdplane
/debian/libsdplane.debhelper.log
/debian/libsdplane.substvars


/sdplane/sdplane
/sdplane/sdplane_version.c

/sdplane_*.debian.tar.xz
/sdplane_*.dsc
/sdplane_*.orig.tar.gz
/sdplane_*_amd64.build
/sdplane_*_amd64.buildinfo
/sdplane_*_amd64.changes
/sdplane_*_amd64.deb
/sdplane-dbgsym_*_amd64.ddeb

/debian/files
/debian/sdplane.substvars
/debian/sdplane/DEBIAN/control
/debian/sdplane/DEBIAN/md5sums
/debian/sdplane/usr/share/doc/sdplane/changelog.gz
/debian/.debhelper
/debian/debhelper-build-stamp
/debian/autoreconf.after
/debian/autoreconf.before
/debian/sdplane.debhelper.log
/debian/sdplane.postrm.debhelper
/debian/sdplane

*.o
*.o
.deps
.dirstamp
Makefile.in
Makefile

/aclocal.m4
/autom4te.cache
/compile
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/config.guess
/config.sub
/configure
/configure~
/depcomp
/install-sh
/missing
/stamp-h1
/build

/CLAUDE.md

/tools/ip-neigh/*.sh

