*.bak

/l2fwd/build
/l2fwd/*.o
/l3fwd/build
/l3fwd/*.o
/l3fwd/.deps
/l3fwd/.dirstamp
/soft-dplane/build
/sdplane/build

/sdplane_*.debian.tar.xz
/sdplane_*.dsc
/sdplane_*.orig.tar.gz
/sdplane_*_amd64.build
/sdplane_*_amd64.buildinfo
/sdplane_*_amd64.changes
/sdplane_*_amd64.deb
/sdplane-dbgsym_*_amd64.ddeb

/sdplane/debian/files
/sdplane/debian/sdplane.substvars
/sdplane/debian/sdplane/DEBIAN/control
/sdplane/debian/sdplane/DEBIAN/md5sums
/sdplane/debian/sdplane/usr/share/doc/sdplane/changelog.gz

/sdplane/debian/.debhelper
/sdplane/debian/autoreconf.after
/sdplane/debian/autoreconf.before
/sdplane/debian/sdplane.debhelper.log
/sdplane/debian/sdplane

/sdplane/.deps
/sdplane/Makefile.in
/sdplane/Makefile
/sdplane/aclocal.m4
/sdplane/autom4te.cache
/sdplane/compile
/sdplane/config.h
/sdplane/config.h.in
/sdplane/config.h.in~
/sdplane/config.log
/sdplane/config.status
/sdplane/config.guess
/sdplane/config.sub
/sdplane/configure
/sdplane/configure~
/sdplane/depcomp
/sdplane/install-sh
/sdplane/missing
/sdplane/stamp-h1
/sdplane/sdplane
/sdplane/*.o

